asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
Django==5.1.7
et_xmlfile==2.0.0
geographiclib==2.0
geopy==2.4.1
idna==3.10
interchange==2021.0.4
monotonic==1.6
networkx==3.4.2
numpy==2.2.4
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pansi==2024.11.0
pillow==11.1.0
py2neo==2021.2.4
Pygments==2.19.1
pyproj==3.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
tzdata==2025.2
urllib3==2.3.0
